#container {
  margin-top: 4em;
}

h1{
    text-align: center;
    font-size: 4em;
}
#countLabel {
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
}

#btnContainer {
  text-align: center;
  padding: 2em 5em;
}

.buttons {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1.5em;
  color: white;
  background-color: rgb(57, 57, 109);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.buttons:hover {
  background-color: rgb(83, 83, 152);
}
